body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg{
  background-color: #232323;
}


.main-content{
  background-color: #363636;
  border-radius: 18px;
  min-height: 800px;
  border:2px solid rgba(33,33,33,.5);
}



.chat-window{
padding: 2em;
}

.chat-messages{
/*  border: 1px solid #eee;*/
  min-height: 500px;
}